@tailwind base;
@tailwind components;
@tailwind utilities;

@import "@fortawesome/fontawesome-free/css/all.css";

body {
  background-image: linear-gradient(to left bottom, #f4f4f4, #f2f3f2, #f1f1f1, #eff0ef, #eeeeee);
}
.error-text {
  color: #ff0033;
}
i {
  font-size: 18px;
  color: #ffffff;
}
button:active, .item-click:active {
  transform: scale(0.9);
}
button.green-btn {
  width: 100%;
  padding: 10px;

  border-radius: 10px;
  background-color: #00b93e;
  border: 0;
  color: #fff;
  cursor: pointer;
}
button[disabled].green-btn {
  color: lightgray;
  background-color: #00a035;
}
.toast-hidden {
  display: none!important;
}
.toast-visible {
  display: flex!important;
}
.toast-wrapper {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  transition: all 1s;
}
.safe-area {
   padding-top: env(safe-area-inset-top);
   padding-bottom: env(safe-area-inset-bottom);
}
.safe-area-top {
  padding-top: env(safe-area-inset-top);
}
.safe-area-bottom {
  padding-bottom: env(safe-area-inset-bottom);
}
