<!-- loading spinner -->
<div class="w-full flex justify-center items-center" *ngIf="!getUser()">
    <app-spinner></app-spinner>
</div>

<div class="profile-info-wrapper" *ngIf="getUser()">
    <div class="img-preview flex justify-center mt-8">
        <div class="flex items-center justify-center w-28 h-28 bg-[#EEE] rounded-full shadow-sm shadow-white">
            <span class="text-black text-4xl font-bold">{{ getUser().username.charAt(0).toUpperCase() }}</span>
        </div>
    </div>
    <h3 class="mt-4 text-center text-2xl">{{ getUser().username }}</h3>

    <div class="border-t-2 border-dotted border-white w-full mb-4 mt-4"></div>

    <!-- Email -->
    <div class="flex items-center">
        <i class="fa-regular fa-envelope text-2xl mr-4"></i>
        <p class="text-sm">
            {{ getUser().email }}
        </p>
    </div>
    <!-- UserId -->
    <div class="flex items-center mt-4">
        <i class="fa-regular fa-hashtag text-2xl mr-4"></i>
        <p class="text-sm">
            {{ getUser()._id }}
        </p>
    </div>

    <!-- Language -->
    <div class="flex items-center mt-6">
        <i class="fa-solid fa-language text-2xl mr-4"></i>
        <div class="flex flex-col">
            <span class="text-sm mb-1">{{ 'common.language' | translate }}</span>
            <app-flag-language-selector></app-flag-language-selector>
        </div>
    </div>
</div>