.topic-wrap {
  background: #fff;
  border-radius: 10px;
  height: 65vh;
  overflow-y: scroll;
}

textarea {
  margin-top: 20px;
  border-radius: 10px;
  width: 100%;
  min-height: 64px;
}
button {
  margin-top: 10px;
  width: 100%;
}
