.bg-wrap {
  height: 100vh;
}
.topic-wrap {
  height: 95%;
}
.return-btn {
  max-width: 64px;

  img {
    max-width: 24px;
    aspect-ratio: 1;
    margin-bottom: 10px;
  }
}
.full-screen {
  height: 100%;
  width: 100%;
}

@media only screen and (max-width: 992px) {
  .topic-wrap {
    height: 90%;
  }
}
