<div class="emoji-wrap absolute right-3 bottom-20 z-40" *ngIf="isEmojiOpen">
  <button
    (click)="isEmojiOpen = false"
    class="text-white bg-gray-800 focus:outline-none focus:ring-2 focus:ring-gray-500 rounded-full p-2 block mb-1">
    <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
    </svg>
  </button>
  <emoji-mart title="Pick your emoji…" emoji="thumbsup" (emojiSelect)="onEmojiSelected($event)"></emoji-mart>
</div>
