<div class="flex h-screen antialiased text-gray-800">
  <div class="flex flex-row h-full w-full overflow-hidden">
    @if (isSidebarVisible) {
      <!-- Sidebar -->
      <app-sidebar></app-sidebar>
    }

    <!-- Router outlet - pages -->
    <div class="flex flex-col flex-auto h-full relative" [ngClass]="{'justify-center': window.innerWidth > 992, 'justify-start': window.innerWidth <= 992}">
        <router-outlet></router-outlet>

        <!-- Modals -->
        @if (modalsState.isCreateRoomModalOpen) {
          <app-create-topic-modal (modalClosed)="modalsState.isCreateRoomModalOpen = false"></app-create-topic-modal>
        }

        @if (modalsState.isLogoutModalOpen) {
          <app-logout-modal
            (logoutUser)="authService.logout()"
            (closeModal)="modalsState.isLogoutModalOpen = false"></app-logout-modal>
        }

        @if (modalsState.isViewMessageModalOpen) {
          <app-message-view-modal
            (closeModal)="modalsState.isViewMessageModalOpen = false"
            [message]="viewMessageModalData"></app-message-view-modal>
        }
    </div>
  </div>
</div>
