<div class="sidebar-wrapper flex h-full bg-indigo-900" [ngClass]="{'max-sm:w-[100vw]': isSidebarExpanded}">
    <div class="relative text-center text-white w-20 h-full p-3">
        <!-- Logo -->
        <img src="/assets/images/icon.png" alt="Logo" class="cursor-pointer" (click)="onNavigateHome()">

        <!-- New topic button -->
        <button class="w-full mt-4 aspect-square text-xl rounded-lg bg-[#EEE]" (click)="openCreateModalSubject.next()">
            <i class="fa-solid fa-plus text-black"></i>
        </button>

        <!-- Search button -->
        <button class="block m-auto" (click)="onChangeMenu(ESidebarMenus.Search)">
            <i class="fa-solid fa-magnifying-glass text-white text-xl mt-8 cursor-pointer"></i>
        </button>

        <!-- Conversations button -->
        <button class="block m-auto" (click)="onChangeMenu(ESidebarMenus.Conversations)">
            <i class="fa-regular fa-comment text-white text-xl mt-8 cursor-pointer"></i>
        </button>

        <!-- Settings/Profile button -->
        <button class="block m-auto mt-6" (click)="onChangeMenu(ESidebarMenus.ProfileInfo)">
            <i class="fa-regular fa-user text-white text-xl cursor-pointer"></i>
        </button>

        <!-- Separator -->
        <div class="border-t-2 border-dotted border-white w-full mt-8"></div>

        <!-- Logout -->
        <i class="fa-solid fa-right-from-bracket absolute text-xl cursor-pointer left-0 right-0 mt-8"
           [ngClass]="{'bottom-32': window.innerWidth > 992, 'bottom-8': window.innerWidth <= 992}"
           (click)="onLogout()"></i>
    </div>

    <!-- Preview tab -->
    @if (activeMenu !== null) {
        <div class="preview text-white overflow-y-auto pr-2"
            [ngClass]="{'closed': !isSidebarExpanded}">
            <i class="fa-solid fa-chevron-left cursor-pointer text-white text-2xl" (click)="isSidebarExpanded = false"></i>

            <app-sidebar-profile-info *ngIf="activeMenu === ESidebarMenus.ProfileInfo"></app-sidebar-profile-info>
            @if (activeMenu === ESidebarMenus.Search) {
                <app-sidebar-search
                    [conversations]="filteredConversations"
                    (changeQuery)="onChangeQuery($event)"
                    (joinConversation)="onJoinConversation($event)"></app-sidebar-search>
            }

            @if (activeMenu === ESidebarMenus.Conversations) {
                <app-sidebar-conversations [conversations]="conversations"></app-sidebar-conversations>
            }
        </div>
    }
</div>
