.sidebar-wrapper {
    -webkit-box-shadow: 5px 0px 5px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 5px 0px 5px 0px rgba(0,0,0,0.25);
    box-shadow: 5px 0px 5px 0px rgba(0,0,0,0.25);

    .text-black {
        color: #000!important;
    }

    .preview {
        width: 20rem;
        padding: .75rem;

        &.closed {
            display: none;
        }
    }
}